<h1>Theories Index</h1>

<% @theories.each do |theory| %>
  <ul>
    <li class="theory-item"><%= link_to theory.name, theory_path(theory.id) %> |
      <% if theory.thinker.present? %>
        <%= link_to theory.thinker.name, thinker_path(theory.thinker.id) %>
      <% end %>
    </li>
  </ul>
<% end %>
