<h1>Theories Index</h1>

<% @theories.each do |theory| %>
  <ul>
    <li class="theory-item"><%= link_to theory.name, theory_path(theory.id) %></li>
      <% if theory.thinker.present? %>
        <li class="theory-thinker-item">By: <%= link_to theory.thinker.name, thinker_path(theory.thinker.id) %></li>
      <% end %>
  </ul>
<% end %>
