body {
  box-sizing: border-box;
  background-color: blanchedalmond;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.thinker-thumb {
  max-height: 10vh;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.thinker-feature {
  max-height: 50vh;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
