<h1>Fields</h1>

<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <% @fields.each do |field| %>
        <ul>
          <li><%= link_to field.name, field_path(field.id) %></li>
        </ul>
      <% end %>
    </div>
    <div class="col-sm">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <%= form_tag thinkers_path, :method => "get" do %>
              <%= text_field_tag :query, params[:query], :class => "form-control" %>
        </div>
              <%= submit_tag "Search", name: nil, :class => "btn btn-primary mb-2" %>
          <% end %>
      </form>
    </div>
  </div>
