<h1>Fields</h1>

<h2><%= @field.name %></h2>

<h3>Brief Intro Into <%= @field.name %></h3>

<div class="controllers">
  <%= link_to "Edit Field", edit_field_path(@field.id) %>
  <%= link_to "Delete Field", field_path(@field.id), :method => "delete" %>
</div>
